.landing-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.landing-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the area without distortion */
  pointer-events: none;
}

.sound-button {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4); /* Opaque white background */
  backdrop-filter: blur(10px); /* Add a blur effect for a modern look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10; /* Ensure it's above the video */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth color transition */
}

.sound-button img {
  object-fit: contain;
  width: 60%;
  height: 60%;
}

.sound-button:hover {
  background-color: #333;
}

.blurb-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-family: "roboto", sans-serif;
}

.company-name {
  margin-bottom: 10px;
}

.blurb {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 75px;
  color: white;
  display: inline-block;
  overflow: hidden;
}

.small-info {
  margin-top: 15px;
  max-width: 50%;
  flex-wrap: wrap;
  font-weight: 100;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 1;
}

.letter-wrapper {
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 880px) {
  .blurb {
    font-size: 40px;
  }

  .small-info {
    font-size: 10px;
  }
}
