.landing-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.landing-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the area without distortion */
}

.blurb-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-family: "roboto", sans-serif;
}

.company-name {
  margin-bottom: 10px;
}

.blurb {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 75px;
  color: white;
  display: inline-block;
  overflow: hidden;
}

.small-info {
  margin-top: 15px;
  max-width: 50%;
  flex-wrap: wrap;
  font-weight: 100;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 1;
}

.letter-wrapper {
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 880px) {
  .blurb {
    font-size: 40px;
  }

  .small-info {
    font-size: 10px;
  }
}
