/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* Main container */
.website-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.preloader {
  height: 100vh;
  width: 100%;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
